---
import Main from "../components/main.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";

const { lang, prefix } = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<BaseLayout title={`${t("404.title")} | ${t("site.title")}`}>
  <Header />
  <Main>
    <h1>404</h1>
  </Main>
  <Footer />
</BaseLayout>

<style></style>
