---
import Main from "../components/main.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import GetInTouch from "../sections/get-in-touch.astro";
import Project from "../sections/project.astro";
import Spotlight from "../sections/spotlight.astro";
import { getImage } from "astro:assets";

import bgPattern from "../assets/app-design/bg-pattern.svg";

const optimizedBgPattern = await getImage({ src: bgPattern });

const { lang, prefix } = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<BaseLayout>
  <Header />
  <Main>
    <Spotlight
      heading={t("app.heading")}
      content={t("app.content")}
      bgPattern={optimizedBgPattern.src}
      class="bg-left"
    />
    <Project includeIds={["web-design", "graphic-design"]} />
    <GetInTouch />
  </Main>
  <Footer />
</BaseLayout>
