---
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import Project from "../sections/project.astro";

const { prefix } = getLangFromUrl(Astro.url);
---

<BaseLayout>
  <Header />
  <main>
    <h1>App Design</h1>

    <ul>
      <li><a href={`${prefix}`}>Home</a></li>
      <li><a href={`${prefix}company`}>Our Company</a></li>
      <li><a href={`${prefix}location`}>Location</a></li>
      <li><a href={`${prefix}contact`}>Contact</a></li>
    </ul>

    <Project includeIds={["web-design", "graphic-design"]} />
  </main>
  <Footer />
</BaseLayout>
