---
import Main from "../components/main.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import GetInTouch from "../sections/get-in-touch.astro";
import Project from "../sections/project.astro";
import Spotlight from "../sections/spotlight.astro";

const { lang, prefix } = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<BaseLayout>
  <Header />
  <Main>
    <Spotlight heading={t("graphic.heading")} content={t("graphic.content")} />
    <Project includeIds={["app-design", "web-design"]} sortDesc={true} />
    <GetInTouch />
  </Main>
  <Footer />
</BaseLayout>
