---
import Main from "../components/main.astro";
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import GetInTouch from "../sections/get-in-touch.astro";
import Hero from "../sections/hero.astro";
import Illustration from "../sections/illustration.astro";
import Project from "../sections/project.astro";

const { prefix } = getLangFromUrl(Astro.url);
---

<BaseLayout>
  <Header />
  <Main>
    <Hero />
    <Project includeIds={["web-design-homepage", "app-design", "graphic-design"]} />
    <Illustration />
    <GetInTouch />
  </Main>
  <Footer />
</BaseLayout>
