---
import Main from "../components/main.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import GetInTouch from "../sections/get-in-touch.astro";
import LocationBlock from "../sections/location-block.astro";

const { lang } = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<BaseLayout title={`${t("location.title")} | ${t("site.title")}`}>
  <Header />
  <Main>
    <LocationBlock />
    <GetInTouch />
  </Main>
  <Footer />
</BaseLayout>

<style></style>
